* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(50, 50, 50);
    color: #fff;
}

#heading{
    padding: 10px;
    text-align: center;
    background-color: #657ED4;
    font-family: rowdies, sans-serif;
    font-size: 3vmin;
}

.discs{
    display: flex;
    /* flex-direction: ; */
    width: 80vmin;
    height: 40vmin;
    margin: auto;
    margin-top: 10vmin;
    /* border: 1px solid white; */
}

.scissors{
    background-color: #7facff;
}

.rock{
    background-color: #f083a2;
}

.paper{
    background-color: #c38edc;
}

.scissors:hover, .paper:hover, .rock:hover{
    border: 7px solid #DDD92A;
    cursor: pointer;
}

.rock, .paper, .scissors{
    height: 25vmin;
    width: 25vmin;
    margin: 1vmin;
    border-radius: 100vmin;
}

.rock_img, .paper_img, .scissors_img{
    /* height: 100%; */
    width: 100%;
    border-radius: 100vmin;
    /* object-fit: cover; */
}

.container{
    display: flex;
    font-size: 2.5vmin;
}

#player{
    width: 50%;
    /* border: 1px solid white; */
    text-align: center;
}

#computer{
    width: 50%;
    /* border: 1px solid white; */
    text-align: center;
    float: right;
}

.msg{
    text-align: center;
    margin: 3vmin;
    font-size: 3.5vmin;
    background-color: black;
    width: fit-content;
    padding: 3vmin;
    border: 2px solid white;
    border-radius: 10vmin;
    margin: auto;
    margin-top: 5vmin;
}

#reset
{
    text-align: center;
}

.reset{
    margin-top: 5vmin;
    height: 2.5vmin;
    width:fit-content;
    padding: 2vmin;
    padding-bottom: 4vmin;
    font-size: 2vmin;
    background-color: gray;
    color: white;
}

.reset:hover{
    background-color: black;
}